<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>数据表格</title>
        <!-- jqery文件 -->
        <script type="text/javascript" src="../easyui/jquery.min.js"></script>
        <!-- easyui文件 -->
        <script type="text/javascript" src="../easyui/jquery.easyui.min.js"></script>
        <!-- 中文包 -->
        <script type="text/javascript" src="../easyui/locale/easyui-lang-zh_CN.js"></script>
        <!-- easyui的css文件 -->
        <link rel="stylesheet" type="text/css" href="../easyui/themes/default/easyui.css">
        <!-- easyui的图标信息 -->
        <link rel="stylesheet" type="text/css" href="../easyui/themes/icon.css">
        
        
        <!-- 引入自己的js文件 -->
        <script type="text/javascript" src="../js/datagrid.js"></script>
</head>
<body>
    <form id="ff" method="post">
        <p>天气来源 <input type="text" value="cytq" name="type" class="easyui-validatebox" data-options="required:true"></p>
        <p>城市名称 <input type="text" value="毕节" name="msg" class="easyui-validatebox" data-options="required:true"></p>
        <p>数量 <input type="number" value="20" name="num" class="easyui-numberbox" data-options="min:1, max:50, required:true"></p>
        <p>未知参数 n <input type="number" value="1" name="n" class="easyui-numberbox" data-options="min:1, max:5, required:true"></p>
        <input type="submit" value="查询天气">
    </form>
    <table id="dg"></table>
</body>
<script>
        $(function () {
            // 确保 initdg 函数已定义或注释掉
            // initdg();

            $('#ff').form({
                url: 'https://xiaoapi.cn/API/zs_tq.php',
                onSubmit: function(param) {
                    console.log('Submitting form with data:', param);
                    return $(this).form('validate'); // 返回 false 将阻止表单提交
                },
                success: function(data) {
                    console.log('Server response:', data);
                    alert(data);
                },
                onLoadError: function() {
                    console.error('Failed to load data');
                }
            });

            // 绑定 submit 事件处理器
            $('#ff').submit(function(event) {
                event.preventDefault(); // 取消默认提交行为
                $(this).form('submit'); // 使用 EasyUI 的 form('submit') 方法来提交表单数据
            });
        });
</script>
</html>